body{
  background-color: #112A49;
  position: relative;
  height: auto;
  min-height: 100% !important;
   }

main{
  display:flex;
  align-items: center;
  justify-content: center;padding:50px 40px;
}

.container{
  padding:50px 40px;
  border-radius: 17px;
  box-shadow: 5px black;
}

/*Header*/

.nav-bar{
  text-align:right;
}

.header-item{
  padding:10px 15px;
  transition: all .1s ease-in-out;
}

.header-item:hover {
  transform: scale(1.15);
}
.img-fluid{
  max-width: 100%;
  height: auto;
}

/*Columns*/

.col-md-6{
  padding-left:100px;
}

/*Texts*/
h1{
  font-family: 'Rubik', sans-serif;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size:17px;
}

/*Button*/
.cta{
  font-family: 'Roboto', sans-serif;
  background-color: #4353FF;
  color:white;
  transition: all .1s ease-in-out;
}

.cta:hover{
  transform: scale(1.1);
  color:white;
  background-color: #4353FF;
}

.btn-portfolio{
  transition: all .1s ease-in-out; 
}

.btn-portfolio:hover{
  transform:scale(1.15);

}

/*Media queries*/

@media (max-width: 769px){
  .container{
    background-color: red;
    padding:40px 30px; 
  }
}