body{
  background-color: #112A49;
  position: relative;
  height: auto;
  min-height: 100% !important;
   }

section{
  display:flex;
  align-items: center;
  justify-content: center;padding:50px 40px;
}

.container{
  padding:50px 40px;
  border-radius: 17px;
  box-shadow: 5px black;
  background-color: white;
}

/*Header*/

.nav-bar{
  text-align:right;
  margin-bottom: 0px;
}

.header-item{
  padding:10px 15px;
  transition: all .1s ease-in-out;
}

.header-item:hover {
  transform: scale(1.15);
}
.img-fluid{
  max-width: 100%;
  height: auto;
}

/*Columns*/

.col-md-6{
  padding:50px;
}

/*Texts*/
h1{
  font-family: 'Rubik', sans-serif;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size:17px;
}

/*Profile pic*/
.profile{
  width=70%;
  max-width=100%;
}

/*Button*/
.cta{
  font-family: 'Roboto', sans-serif;
  background-color: #4353FF;
  color:white;
  transition: all .1s ease-in-out;
}

.cta:hover{
  transform: scale(1.1);
  color:white;
  background-color: #4353FF;
}

.btn-portfolio{
  transition: all .1s ease-in-out; 
}

.btn-portfolio:hover{
  transform:scale(1.15);

}

/*Media queries*/

  @media screen and (max-width: 768px){
  .container{
    padding:40px 30px;
  }

  .header-item{
  width:5px;
  padding:7px 15px;
  transition: all .1s ease-in-out;
}

.col-md-6{
  padding:5px;
}
}

